h3 {
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
}

#big {
    font-size: 35px;
}

* {
    font-size: 12px;
    color: #000080;
}



a {
  color: #800080;
  font-size: 16px;
}

a:visited {
  color: #ff0000;
}

body {
  background-color: #ffffff;
}


ul {
    border-top: 1px solid black;
    margin: auto;
}

li {
    width: 45%;
    float: left;
    padding: 2.5%;
}


li:nth-child(odd) {
    clear: left;
}

aside {
    border-top: 1px solid black;
    text-align: center;
    clear: left;
    border-bottom: 1px solid black;
}

footer {
    border-top: 1px solid black;
}

/*

What is important to know when linking an external file (like a stylesheet) to an HTML file?

It's important to get the relative address right, as well as to include the type and rel attributes in the style tag.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?

Inline vs inline-block still confuses me. Floats seem to be my best friend. Getting the bullets in the right order was very challenging.

What CSS did you use to modify the element style (like size, color, etc.)

I used size, border, color, text-align primarily.

Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?

We used IDs for a one-time styling that was unlikely to be repeated. Classes would be more appropriate for something we might reuse.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

Obviously the actual berkshire hathaway site is a hot mess. Those weird unordered lists that are only one item long can't be best practice. Using tables, while not unusual, feels like the wrong choice for semantic HTML.
*/
